
.posts-container{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.posts-list{
  width: 1200px;
  text-align: center;
  list-style-type: none; 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 30px; 
  padding: 0; 
  margin: 0; 
}

a{
  text-decoration: none;
  color: #3498db;
}

